{% extends 'base.html.twig' %}

{% block title %}Gaming website{% endblock %}

{% block body %}
<link href="{{ asset('style.css') }}" rel="stylesheet"/>
<link href="{{ asset('bootstrap.css') }}" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<header>
    <div class="log">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_logout') }}">Log out</a>
        {% else %}
            <a href="{{ path('app_login') }}">Log in</a>
        {% endif %}
    </div>
    <a href ={{ path('app_website') }}> <div class = "title">
            <h1>Random gaming website</h1>
            <img id="logo" src="{{ asset('gaming.png') }}" alt="Gaming!"/>
        </div></a>
    <nav class="navbar">
        <ul>
            <li>Annoucements</li>
            <li><a href="{{ path('app_show') }}">Posts</a></li>
            <li><a href="{{ path('app_video') }}">Videos</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
        </ul>
    </nav>
</header>
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                Twitter
            </div>
            <div class="col">
                <a href="https://twitter.com/messages/compose?recipient_id=989532477516582914&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-screen-name="https://twitter.com/p_brnx" data-show-count="false">Message @https://twitter.com/p_brnx</a>
        </div>
        <div class="row">
            <div class="col">
                Mail
            </div>
            <div class="col">
                <a href = "mailto: paul.biarneix@etu.unilim.fr">Send Email ! </a>
            </div>
        </div>
    </div>
    <a href = "mailto: paul.biarneix@etu.unilim.fr">Send Email ! </a>
</footer>
{% endblock %}
