{% extends 'base.html.twig' %}

{% block title %}Gaming website{% endblock %}

{% block body %}
    <link href="{{ asset('style.css') }}" rel="stylesheet"/>
    <header>
        <div class="log">
            <a href="{{ path('app_login') }}">Log in</a>
            <a href="{{ path('app_logout') }}">Log out</a>
        </div>
        <a href ={{ path('app_') }}> <div class = "title">
            <h1>Random gaming website</h1>
            <img id="logo" src="{{ asset('gaming.png') }}" alt="Gaming!"/>
            </div></a>
        <nav class="navbar">
            <ul>
                <li>Annoucements</li>
                <li>Posts</li>
                <li>Videos</li>
                <li>Contact</li>
            </ul>
        </nav>
    </header>
    <footer>

    </footer>
</div>
{% endblock %}
