{% extends 'base.html.twig' %}

{% block title %}Gaming website{% endblock %}

{% block body %}
    <link href="{{ asset('style.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bootstrap.css') }}" rel="stylesheet"/>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <header>
        <a href ={{ path('app_website') }}> <div class = "title">
                <h1>Random gaming website</h1>
                <img id="logo" src="{{ asset('gaming.png') }}" alt="Gaming!"/>
            </div></a>
        <nav class="navbar">
            <ul>
                <li>Announcements</li>
                <li><a href = {{ path('app_show') }}>Posts</a></li>
                <li><a href = {{ path('app_video') }}>Videos</a></li>
                <li><a href="{{ path('app_contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <footer>
        <div class= "container">
            <h2>Message {{ messages.id }}</h2>
            {{ messages.contentMessage }}
            </br>
            {{ messages.emailUser }}
            </br>
            <form method="post">
            <label>
                <textarea name="message"></textarea>
            </label>
            </br>
            <button type="submit" name="Publish" id="publication">Answer</button>
            </form>
         </div>
    </footer>
{% endblock %}
