{% extends 'base.html.twig' %}

{% block body %}
    <link href="{{ asset('bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ asset('style.css') }}" rel="stylesheet"/>
    <nav class="navbar">
        <div class="logo-login">
            <div class="logo">
                <a href ={{ path('app_website') }}><h1>Fast Rocket</h1></a>
            </div>
            <div class="log">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_logout') }}">Log out</a>&nbsp;&nbsp;&nbsp;
                {% else %}
                    <a href="{{ path('app_login') }}">Log in</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin') }}">Admin panel</a>
                {% endif %}
            </div>
        </div>
        <ul>
            <li><a href="{{ path('app_show_ann') }}">Announcements</a></li>
            <li><a href="{{ path('app_show') }}">Posts</a></li>
            <li><a href="{{ path('app_video') }}">Videos</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
        </ul>
    </nav>
    <footer>
        <div class="container">
            <h3>Announcement posted ! You can go to <a href="{{ path('app_show_ann') }}">announcements</a> section to see it !</h3>
        </div>
    </footer>
{% endblock %}
