{% extends 'base.html.twig' %}

{% block title %}Gaming website{% endblock %}

{% block body %}
    <link href="{{ asset('bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ asset('style.css') }}" rel="stylesheet"/>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <nav class="navbar">
        <div class="logo-login">
            <div class="logo">
                <a href ={{ path('app_website') }}><h1>Fast Rocket</h1></a>
            </div>
            <div class="log">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_logout') }}">Log out</a>&nbsp;&nbsp;&nbsp;
                {% else %}
                    <a href="{{ path('app_login') }}">Log in</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin') }}">Admin panel</a>
                {% endif %}
            </div>
        </div>
        <ul>
            <li><a href="{{ path('app_show_ann') }}">Announcements</a></li>
            <li><a href="{{ path('app_show') }}">Posts</a></li>
            <li><a href="{{ path('app_video') }}">Videos</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
        </ul>
    </nav>
    <footer>
        <div class= "container">
            <h2>{{ article.title }}</h2>
            {{ article.content }}
            <div class="container-fluid d-flex justify-content-center">
                {% if article.media != null %}
                    <img src="{{ article.media }}" class="img-thumbnail" style="width:20%" alt=""/>
                {% endif %}
            </div>
        </br>
            {{ article.author }}
            </br>
            <div class="share">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Share this annoucement!</a></br>
                <div class="fb-share-button" data-href="http://r301.biarneix.com/index.php/show/{{ announcement.id }}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fr301.biarneix.com%2Findex.php%2Fshow%2F%257B%257B+article.id+%257D%257D&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share on facebook</a></div>
            </div>
        </div>
    </footer>
{% endblock %}
